<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_seventh_debut_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,432},{78,84}}</string>
                <key>offset</key>
                <string>{-22,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,116},{78,84}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,328},{78,102}}</string>
                <key>offset</key>
                <string>{-22,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,98},{78,102}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,328},{82,120}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,80},{82,120}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,368},{96,136}}</string>
                <key>offset</key>
                <string>{-31,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,64},{96,136}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{112,152}}</string>
                <key>offset</key>
                <string>{-39,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,48},{112,152}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,376},{130,164}}</string>
                <key>offset</key>
                <string>{-48,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,36},{130,164}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,176},{150,174}}</string>
                <key>offset</key>
                <string>{-58,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,26},{150,174}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{172,182}}</string>
                <key>offset</key>
                <string>{-69,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{172,182}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,340},{170,178}}</string>
                <key>offset</key>
                <string>{-67,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{170,178}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,158},{180,174}}</string>
                <key>offset</key>
                <string>{-59,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{180,174}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,294},{190,162}}</string>
                <key>offset</key>
                <string>{-51,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{190,162}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,148},{204,144}}</string>
                <key>offset</key>
                <string>{-45,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{204,144}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{216,146}}</string>
                <key>offset</key>
                <string>{-38,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,28},{216,146}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{212,144}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{212,144}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,166},{208,144}}</string>
                <key>offset</key>
                <string>{-43,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,30},{208,144}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,162},{204,144}}</string>
                <key>offset</key>
                <string>{-45,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,30},{204,144}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,162}}</string>
                <key>offset</key>
                <string>{-45,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{204,162}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,158}}</string>
                <key>offset</key>
                <string>{-45,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{204,158}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
            <key>plante_seventh_debut_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{204,154}}</string>
                <key>offset</key>
                <string>{-45,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{204,154}}</string>
                <key>sourceSize</key>
                <string>{350,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_seventh_debut@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb04c13d9bf46330ab47b1b03d4c1ada$</string>
            <key>textureFileName</key>
            <string>plante_seventh_debut@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
