<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_first_debut_gauche_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_gauche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{88,117}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_gauche_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,592},{88,115}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{88,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_gauche_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,926},{88,113}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_gauche_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,343},{88,111}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{88,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_gauche_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,926},{88,113}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_gauche_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,230},{88,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_gauche_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,354},{86,111}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_gauche_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,908},{86,111}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_gauche_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,795},{86,111}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_gauche_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,682},{86,111}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_gauche_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,354},{86,111}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_gauche_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,115},{84,109}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{84,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_gauche_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{84,111}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{84,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_gauche_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,354},{86,109}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{86,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_gauche_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,912},{86,109}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{86,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_gauche_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,442},{86,107}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{86,107}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_gauche_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,569},{86,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_gauche_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,115},{88,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_gauche_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{88,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_gauche_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{88,117}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_gauche_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{88,117}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{84,111}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{84,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,456},{86,111}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,354},{86,113}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{86,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{86,115}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{86,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{86,115}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{86,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{86,117}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{86,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{86,115}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{86,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,470},{86,115}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{86,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,353},{86,115}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{86,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,236},{86,115}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{86,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,571},{86,113}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{86,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,119},{86,115}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{86,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{86,115}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{86,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,826},{86,115}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{86,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,709},{86,115}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{86,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,826},{86,115}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{86,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,709},{86,115}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{86,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,456},{86,113}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{86,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,799},{86,111}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_gauche_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,686},{86,111}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_pause_gauche_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,474},{86,116}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,356},{86,116}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,266},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,266},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,266},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,266},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,178},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,178},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,178},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,178},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,810},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,694},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,578},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,462},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,346},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,230},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,810},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,694},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,578},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,462},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,346},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,230},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,90},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,90},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,90},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,90},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,90},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,238},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,120},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,835},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,717},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,599},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_gauche_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_gauche@2x.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cd564e1d87d28d48d0256fc860561d7$</string>
            <key>textureFileName</key>
            <string>hero_first_gauche@2x.png</string>
        </dict>
    </dict>
</plist>
