<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_first_debut_face_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_face_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{88,117}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_face_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,180},{88,115}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{88,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_face_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,827},{88,113}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_face_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,825},{88,111}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{88,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_face_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,712},{88,111}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{88,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_face_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,825},{88,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_face_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,712},{88,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_face_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,825},{88,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_face_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,712},{88,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,825},{88,111}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{88,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_face_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,712},{88,113}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_debut_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,622},{88,113}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_face_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,90},{88,115}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{88,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_face_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,622},{88,113}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_face_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,622},{88,113}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_face_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,712},{88,111}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{88,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_face_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,712},{88,109}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{88,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_face_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,119},{88,107}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{88,107}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_face_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,624},{86,111}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_face_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,563},{88,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_face_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{88,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_face_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{88,117}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_fin_face_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{88,117}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,622},{88,113}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,532},{88,113}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,532},{88,113}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,534},{88,113}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,90},{88,115}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{88,117}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{88,117}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,90},{88,115}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,178},{88,115}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,532},{88,113}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,532},{88,113}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,532},{88,113}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,532},{88,113}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,473},{88,113}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,178},{88,115}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{88,117}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,178},{88,115}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,90},{88,115}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{88,115}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_milieu_face_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,90},{88,115}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{88,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>hero_first_pause_face_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,90},{86,116}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,90},{86,116}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,444},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,444},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,446},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,444},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,444},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,444},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,444},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,385},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,356},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,356},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,358},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,356},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,356},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,356},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,356},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,297},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,268},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,268},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,270},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,268},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,209},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,180},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,180},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,180},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,268},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,268},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,268},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,90},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hero_first_pause_face_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_face@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28e45f7952d31aa9e7b236ac3c3d7ca5$</string>
            <key>textureFileName</key>
            <string>hero_first_face@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
