<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_third_debut_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{68,50}}</string>
                <key>offset</key>
                <string>{12,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,100},{68,50}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,204},{64,56}}</string>
                <key>offset</key>
                <string>{8,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,94},{64,56}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,270},{66,66}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,84},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,202},{66,78}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,72},{66,78}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,270},{66,86}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,64},{66,86}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,134},{66,102}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,48},{66,102}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,68},{64,118}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,32},{64,118}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{64,128}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{64,128}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,338},{62,140}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{62,140}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,354},{62,142}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{62,142}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,354},{62,146}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{62,146}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,138},{62,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{62,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,138},{64,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{64,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,202},{66,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,70},{66,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,70},{66,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{66,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{66,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{66,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{66,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>plante_third_debut_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,150}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_third_debut.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28204828102abb60cccf16fc85013833$</string>
            <key>textureFileName</key>
            <string>plante_third_debut.pvr.ccz</string>
        </dict>
    </dict>
</plist>
