<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>triangle_connexion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,24},{20,20}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,24},{20,20}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,24},{20,20}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{20,20}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{20,20}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{20,20}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{20,20}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,20}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,24},{20,18}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{20,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,106},{18,18}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,106},{18,18}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{18,18}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,104},{18,18}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,104},{18,18}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,104},{18,18}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,86},{18,18}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,86},{18,18}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{18,18}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,84},{18,18}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,160},{16,18}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{16,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,160},{16,18}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{16,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,160},{16,18}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{16,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,84},{18,18}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,24},{16,18}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{16,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,84},{18,18}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,66},{18,18}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,144},{18,16}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,144},{18,16}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{18,16}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,142},{18,16}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,142},{18,16}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,142},{18,16}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,126},{18,16}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,126},{18,16}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{18,16}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,66},{18,18}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{18,18}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,64},{18,18}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,64},{18,18}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,64},{18,18}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,46},{18,18}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,46},{18,18}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,124},{18,16}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,124},{18,16}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,124},{18,16}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{18,18}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,44},{18,18}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,44},{18,18}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,44},{18,18}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,24},{18,18}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,20}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>triangle_connexion_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,24},{20,20}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>triangle_connexion.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e9b11c9495e767499986918fa2c6480$</string>
            <key>textureFileName</key>
            <string>triangle_connexion.png</string>
        </dict>
    </dict>
</plist>
