<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_fifth_debut_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,324},{62,52}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,98},{62,52}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>plante_fifth_debut_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,260},{62,64}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,86},{62,64}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>plante_fifth_debut_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{60,78}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,72},{60,78}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>plante_fifth_debut_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,64},{76,90}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,60},{76,90}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>plante_fifth_debut_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,156},{92,102}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,48},{92,102}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>plante_fifth_debut_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{108,114}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,36},{108,114}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>plante_fifth_debut_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,266},{126,128}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,22},{126,128}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>plante_fifth_debut_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,140}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{142,140}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>plante_fifth_debut_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{138,136}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{138,136}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>plante_fifth_debut_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{134,132}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{134,132}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>plante_fifth_debut_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{130,128}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{130,128}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>plante_fifth_debut_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,140},{130,128}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{130,128}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>plante_fifth_debut_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,136},{130,128}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{130,128}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_fifth_debut.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:871ad6baa1cb6f894e75b8110f9092fd$</string>
            <key>textureFileName</key>
            <string>plante_fifth_debut.pvr.ccz</string>
        </dict>
    </dict>
</plist>
