<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot_first_face_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,912},{180,264}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{180,264}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,802},{180,264}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,730},{180,264}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,730},{180,264}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,63},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{180,264}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,63},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,548},{180,264}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,63},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,548},{180,264}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,63},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,184},{180,266}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,61},{180,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{180,264}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,62},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,536},{180,264}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,62},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{180,266}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,60},{180,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{180,266}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,60},{180,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,366},{180,264}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,61},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{180,266}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,59},{180,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{180,266}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,59},{180,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,366},{180,264}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,61},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{180,266}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,60},{180,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{180,264}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,62},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{180,264}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,62},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,266}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,61},{180,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,548},{180,264}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,63},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,270},{180,264}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,63},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,730},{180,264}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,184},{180,264}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_first_pause@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f72f3e6f04e5ccc9f3ea1c998c07261$</string>
            <key>textureFileName</key>
            <string>bot_first_pause@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
