<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>droite_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{110,121}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{110,121}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,399},{90,123}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,22},{90,123}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,655},{68,123}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,24},{68,123}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,506},{84,125}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,23},{84,125}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,125},{100,125}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,25},{100,125}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,127}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{116,127}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,264},{92,133}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,21},{92,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,802},{66,137}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,19},{66,137}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{80,135}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,23},{80,135}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{94,137}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,23},{94,137}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{106,137}}</string>
                <key>offset</key>
                <string>{-32,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{106,137}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,524},{82,139}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,21},{82,139}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,782},{54,141}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,17},{54,141}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,768},{66,137}}</string>
                <key>offset</key>
                <string>{-25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,18},{66,137}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,633},{78,133}}</string>
                <key>offset</key>
                <string>{-34,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{78,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{90,129}}</string>
                <key>offset</key>
                <string>{-42,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{90,129}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,530},{68,129}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{68,129}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,385},{44,129}}</string>
                <key>offset</key>
                <string>{-22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,16},{44,129}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,780},{58,125}}</string>
                <key>offset</key>
                <string>{-30,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,17},{58,125}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,526},{72,123}}</string>
                <key>offset</key>
                <string>{-38,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{72,123}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,276},{86,121}}</string>
                <key>offset</key>
                <string>{-45,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{86,121}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,661},{64,121}}</string>
                <key>offset</key>
                <string>{-34,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,18},{64,121}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,651},{44,123}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,17},{44,123}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,137},{58,125}}</string>
                <key>offset</key>
                <string>{-31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,17},{58,125}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,399},{74,125}}</string>
                <key>offset</key>
                <string>{-39,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,19},{74,125}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,379},{90,125}}</string>
                <key>offset</key>
                <string>{-47,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{90,125}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{66,129}}</string>
                <key>offset</key>
                <string>{-35,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,19},{66,129}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,252},{40,131}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,19},{40,131}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{58,133}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,20},{58,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,264},{78,133}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,22},{78,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,141},{96,133}}</string>
                <key>offset</key>
                <string>{-43,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{96,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,665},{76,135}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,22},{76,135}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,516},{56,137}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,20},{56,137}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{74,133}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,23},{74,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,131},{94,131}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,25},{94,131}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{110,127}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,28},{110,127}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{88,129}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,24},{88,129}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,651},{64,129}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,21},{64,129}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,399},{80,129}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,19},{80,129}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>droite_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,252},{94,125}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,21},{94,125}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_first_state_droite@2x.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2cc116d76a1c99f03e2c111dab66959$</string>
            <key>textureFileName</key>
            <string>bot_first_state_droite@2x.png</string>
        </dict>
    </dict>
</plist>
