<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dos_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{158,129}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,18},{158,129}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,552},{112,131}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,17},{112,131}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,655},{68,131}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,19},{68,131}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,397},{98,129}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,22},{98,129}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,268},{128,127}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,26},{128,127}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{158,131}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{158,131}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,530},{114,133}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,24},{114,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{68,133}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,26},{68,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,800},{98,137}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,24},{98,137}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,137},{130,139}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,23},{130,139}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{160,141}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,23},{160,141}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,411},{116,141}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,21},{116,141}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,395},{70,139}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,21},{70,139}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,800},{100,137}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,21},{100,137}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,143},{128,133}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,22},{128,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{156,133}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,20},{156,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,268},{112,131}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,19},{112,131}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{78,129}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,18},{78,129}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,655},{92,129}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,16},{92,129}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,401},{118,127}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,16},{118,127}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,135},{140,131}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{140,131}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,397},{106,127}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,15},{106,127}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,268},{86,125}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,18},{86,125}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,528},{96,127}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,17},{96,127}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,278},{124,131}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,15},{124,131}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,133},{154,133}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,15},{154,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,665},{110,133}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,18},{110,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,133},{76,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,20},{76,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,800},{98,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,20},{98,135}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{132,139}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,19},{132,139}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{162,139}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{162,139}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,278},{118,139}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,21},{118,139}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,280},{70,137}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,23},{70,137}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{102,137}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,22},{102,137}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,143},{134,135}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,24},{134,135}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,133}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{164,133}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,419},{116,131}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,24},{116,131}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,655},{66,129}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,24},{66,129}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,526},{98,127}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,24},{98,127}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
            <key>dos_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,268},{128,127}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{128,127}}</string>
                <key>sourceSize</key>
                <string>{230,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_first_state_dos@2x.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:244da20e6be9dcec0d4b2c42e03330c7$</string>
            <key>textureFileName</key>
            <string>bot_first_state_dos@2x.png</string>
        </dict>
    </dict>
</plist>
