<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot_first_disconnexion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,268},{180,264}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,184},{180,264}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1850},{194,264}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,67},{194,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1256},{196,296}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,60},{196,296}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{190,302}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,49},{190,302}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{196,306}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,41},{196,306}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{196,304}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{196,304}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1554},{198,294}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{198,294}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{198,318}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{198,318}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1560},{200,300}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,318}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{200,318}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,642},{186,272}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{186,272}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{186,264}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,63},{186,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1798},{186,264}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,63},{186,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{184,264}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,63},{184,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,534},{182,264}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,63},{182,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1074},{184,266}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,61},{184,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,184},{180,264}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,62},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{180,264}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,62},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,806},{184,266}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,60},{184,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,538},{184,266}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,60},{184,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{186,268}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,61},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,322},{188,270}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,59},{188,270}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1862},{184,276}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,59},{184,276}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1610},{186,264}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,61},{186,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,594},{186,266}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,60},{186,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,268},{184,264}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,62},{184,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,800},{182,264}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,62},{182,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,270},{184,266}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,62},{184,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,270},{180,266}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,62},{180,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{180,266}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,62},{180,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,2},{180,264}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2},{180,264}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1780},{180,264}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1780},{180,264}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1598},{180,264}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,63},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1332},{180,264}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,63},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1066},{180,264}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,63},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1066},{182,264}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,63},{182,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1666},{182,266}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,61},{182,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,800},{180,264}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,62},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1780},{180,264}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,62},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{184,266}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,60},{184,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1398},{184,266}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,60},{184,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1850},{186,264}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,61},{186,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,916},{188,266}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,59},{188,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1342},{180,266}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,59},{180,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,534},{184,264}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,61},{184,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1130},{184,266}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,60},{184,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,268},{184,264}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,62},{184,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,800},{182,264}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,62},{182,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,862},{184,266}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,61},{184,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1332},{180,264}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,63},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1598},{180,264}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,63},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1066},{180,264}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_first_disconnexion_loop_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1332},{180,264}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,64},{180,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_first_disconnexion@2x.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:004ff54282586d0781bfbdb0d89c3c47$</string>
            <key>textureFileName</key>
            <string>bot_first_disconnexion@2x.png</string>
        </dict>
    </dict>
</plist>
