<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot_second_dos_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,284},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,413},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,824},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,687},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,550},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,413},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,824},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,687},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,550},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,284},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,413},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,190},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,190},{92,135}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,190},{92,135}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,190},{92,135}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,284},{92,135}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,190},{92,135}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,190},{92,135}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,96},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,284},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,96},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,824},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,96},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,687},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_dos_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,96},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,575},{52,135}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,575},{52,135}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,554},{52,135}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,554},{52,135}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,521},{52,135}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,500},{52,135}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,500},{52,135}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,467},{52,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,446},{52,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,446},{52,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,413},{52,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,392},{52,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,392},{52,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,824},{52,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,687},{52,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,575},{52,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,413},{52,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,392},{52,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,446},{52,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,550},{52,135}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,500},{52,135}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,338},{52,135}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,554},{52,135}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_droite_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,338},{52,135}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,96},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,824},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,687},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,550},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,413},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,276},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,139},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{92,135}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{92,135}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{92,135}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,96},{92,135}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{92,135}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{92,135}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,139},{92,135}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,550},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,284},{52,135}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,284},{52,135}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,824},{52,135}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,687},{52,135}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,338},{52,135}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,284},{52,135}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,413},{52,135}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,550},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,961},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,824},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,687},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,550},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,961},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,276},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,233},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,284},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,139},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,961},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,96},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,824},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,961},{52,135}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,413},{52,135}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{52,135}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,687},{52,135}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_gauche_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{52,135}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_second_pause.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ab868c90189e0e9d9e9219765385bbd$</string>
            <key>textureFileName</key>
            <string>bot_second_pause.png</string>
        </dict>
    </dict>
</plist>
