<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot_second_connexion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,410},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,410},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,410},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,920},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,767},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,614},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,461},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,308},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,308},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,308},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,308},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,920},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,767},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,614},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,461},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,308},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,716},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,563},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,410},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,206},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,206},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,206},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,257},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,206},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,155},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,410},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,104},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,104},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,104},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,104},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,104},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,920},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,767},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,614},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,461},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,308},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,155},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_connexion_loop_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,151}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_second_connexion.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44a035165d37359ac64d1ba0bea49bee$</string>
            <key>textureFileName</key>
            <string>bot_second_connexion.png</string>
        </dict>
    </dict>
</plist>
