<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot_second_disconnexion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,413},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,413},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,413},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,413},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,413},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,413},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,413},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,413},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,292},{94,135}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,31},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{96,139}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{96,139}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{94,143}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,27},{94,143}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,98},{96,137}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,33},{96,137}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{100,145}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{100,145}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{100,145}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{100,145}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{100,143}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{100,143}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{100,145}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{100,145}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,145}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{100,145}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{96,137}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,33},{96,137}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{100,143}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{100,143}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,880},{96,137}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{96,137}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,292},{94,135}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,31},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,562},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,562},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,562},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,562},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,292},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,372},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,290},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,290},{94,135}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,196},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,196},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,196},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,276},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,468},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,194},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,194},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{96,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{96,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,100},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,100},{94,135}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,139},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,386},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,98},{94,135}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,98},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,386},{92,135}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,276},{92,135}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,139},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{94,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{94,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_second_disconnexion_loop_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{92,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_second_disconnexion.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b59f307d6d03a2f348a6115d97edf39$</string>
            <key>textureFileName</key>
            <string>bot_second_disconnexion.pvr.ccz</string>
        </dict>
    </dict>
</plist>
