<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fin_face_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{85,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{85,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_face_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{85,109}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_face_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{85,109}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_face_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{85,107}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{85,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_face_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{85,105}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{85,105}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_face_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{85,103}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{85,103}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_face_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{83,107}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{83,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_face_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{85,109}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_face_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{85,113}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{85,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_face_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,113}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{85,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_face_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,113}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{85,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_fin_face.png</string>
            <key>size</key>
            <string>{1024,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f52ea7e21f8463e0b6a6fa2f27c0a5$</string>
            <key>textureFileName</key>
            <string>hero_first_fin_face.png</string>
        </dict>
    </dict>
</plist>
