<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>milieu_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,337},{85,109}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,226},{85,109}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,337},{85,109}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,226},{85,109}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,341},{85,111}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{85,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{85,113}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{85,113}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{85,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,228},{85,111}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,115},{85,111}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,337},{85,109}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,226},{85,109}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,115},{85,109}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,115},{85,109}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,115},{85,109}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{85,111}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{85,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,113}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{85,111}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{85,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{85,111}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,111}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_face_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{85,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{85,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_milieu_face.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dd012d29d8bfb3dd041bbb44ef6360c$</string>
            <key>textureFileName</key>
            <string>hero_first_milieu_face.png</string>
        </dict>
    </dict>
</plist>
