<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>milieu_droite_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,335},{81,107}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{81,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,337},{83,107}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{83,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,115},{83,109}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{83,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,115},{83,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{83,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,341},{83,111}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{83,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,113}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{83,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,228},{83,111}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{83,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,115},{83,111}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{83,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{83,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{83,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{83,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{83,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,115},{83,109}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{83,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{83,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{83,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{83,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{83,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{83,111}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{83,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{83,111}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{83,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{83,111}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{83,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{83,111}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{83,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,115},{83,109}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{83,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,228},{83,107}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{83,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>milieu_droite_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,226},{83,107}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{83,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_milieu_droite.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85458705788b084786d61a6c0f3a511d$</string>
            <key>textureFileName</key>
            <string>hero_first_milieu_droite.png</string>
        </dict>
    </dict>
</plist>
