<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fin_droite_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{81,105}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{81,105}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_droite_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,109},{81,107}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{81,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_droite_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{83,105}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{83,105}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_droite_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{83,105}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{83,105}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_droite_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,103}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{83,103}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_droite_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,109},{83,107}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{83,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_droite_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{85,109}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_droite_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,333},{85,113}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{85,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_droite_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{85,113}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{85,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_droite_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,218},{85,113}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{85,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_fin_droite.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f1377824bd11c2c7589ee4d1e550d44$</string>
            <key>textureFileName</key>
            <string>hero_first_fin_droite.png</string>
        </dict>
    </dict>
</plist>
