<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plantev1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,85},{107,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{107,83}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,168},{107,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{107,83}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,182},{105,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{105,83}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,172},{105,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{105,85}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,172},{105,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{105,85}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,253},{103,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{103,85}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,267},{101,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{101,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,427},{99,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{99,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{97,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{97,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,516},{97,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{97,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,435},{95,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{95,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{95,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,605},{95,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,700},{93,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,611},{93,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{93,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,524},{93,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{93,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,435},{93,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{93,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{93,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,518},{95,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,348},{95,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{95,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,429},{97,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{97,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,346},{97,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{97,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,340},{99,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{99,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,259},{101,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{101,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,340},{101,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{101,85}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,253},{103,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{103,85}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,170},{105,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{105,85}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,168},{107,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{107,83}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,85},{109,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{109,83}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,85},{111,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{111,81}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,85},{111,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{111,81}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{113,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{113,81}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{115,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{115,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{115,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{115,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{115,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{115,81}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{113,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{113,81}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,85},{111,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{111,81}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{111,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{111,83}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{107,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{107,83}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,170},{105,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{105,85}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{103,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{103,85}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,259},{101,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{101,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{99,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{99,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,346},{97,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{97,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,429},{95,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,696},{93,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{93,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,356},{91,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{91,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{91,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,884},{89,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{89,91}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,615},{87,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,526},{87,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,795},{85,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{85,91}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,437},{85,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{85,91}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,702},{85,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{85,91}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,437},{87,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,880},{87,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{87,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{89,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{89,91}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,787},{91,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,356},{91,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{91,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,609},{93,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{93,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,520},{93,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,348},{95,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{95,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,340},{97,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{97,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{97,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{97,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,257},{101,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{101,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,257},{101,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{101,87}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,253},{103,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{103,85}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,95},{105,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{105,85}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,85},{105,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{105,85}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,85},{105,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{105,85}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,168},{107,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{107,83}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
            <key>plantev1_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,85},{107,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{107,83}}</string>
                <key>sourceSize</key>
                <string>{115,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plant1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20828aa5668f37ca5be3448432aaf1fb$</string>
            <key>textureFileName</key>
            <string>plant1.png</string>
        </dict>
    </dict>
</plist>
