<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debut_34_dos_droite_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,115}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{67,115}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_droite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,113}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{67,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_droite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{67,111}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{67,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_droite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,115},{67,109}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{67,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_droite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{67,107}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{67,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_droite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,226},{67,107}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{67,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_droite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{67,107}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{67,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_droite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,226},{67,107}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{67,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_droite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{67,107}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{67,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_droite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,117},{67,107}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{67,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_droite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,335},{65,105}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{65,105}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_droite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,335},{65,105}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{65,105}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_debut_34_dos_droite.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c16fa793ceb78701aef49578da004e50$</string>
            <key>textureFileName</key>
            <string>hero_first_debut_34_dos_droite.png</string>
        </dict>
    </dict>
</plist>
