<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_first_loop_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1570},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1486},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1766},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1380},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1374},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1274},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1178},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1168},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1062},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,982},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,956},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,850},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,786},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,744},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,638},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,590},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,532},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,426},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,394},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1888},{104,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{104,192}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1804},{104,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{104,192}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1782},{104,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{104,192}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1698},{104,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{104,192}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1676},{104,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{104,192}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1592},{104,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{104,192}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,320},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,214},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,198},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,108},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_loop_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_first_loop.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13d088a2a4cd6aaa392c1f4bb91291a0$</string>
            <key>textureFileName</key>
            <string>plante_first_loop.png</string>
        </dict>
    </dict>
</plist>
