<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_first_debut_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,742},{104,74}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,122},{104,74}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,848},{104,80}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,116},{104,80}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,214},{104,86}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,110},{104,86}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,848},{104,94}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,102},{104,94}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,742},{104,100}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,96},{104,100}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,258},{104,108}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,88},{104,108}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{108,114}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,82},{108,114}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,112},{108,144}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,52},{108,144}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,846},{104,166}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{104,166}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,556},{104,184}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{104,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,364},{104,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{104,190}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,214},{104,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{104,192}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,214},{104,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{104,192}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,214},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,650},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,454},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,258},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,108},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,108},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,108},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,108},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>plante_first_debut_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{104,194}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_first_debut.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:334d9b4f660a4b4593b818edf4f7e2eb$</string>
            <key>textureFileName</key>
            <string>plante_first_debut.png</string>
        </dict>
    </dict>
</plist>
