<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obstacle_second_explosion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{218,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,118}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{218,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{218,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{218,112}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{218,112}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,120},{218,102}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{218,102}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,122},{218,96}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{218,96}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,222},{218,92}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,28},{218,92}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{218,86}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,34},{218,86}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,392},{216,84}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{216,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,310},{216,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{216,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{216,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{216,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,382},{216,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{216,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,306},{216,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{216,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,224},{216,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{216,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{216,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{216,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,296},{216,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{216,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,220},{216,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{216,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{216,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{216,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,210},{216,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{216,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,124},{216,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{216,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,468},{214,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{214,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,396},{210,84}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{210,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{208,84}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,36},{208,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,482},{208,84}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{208,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,442},{208,84}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{208,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,640},{202,84}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{202,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,558},{204,84}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{204,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,554},{206,84}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,36},{206,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,478},{210,78}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{210,78}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{212,82}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{212,82}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,568},{192,80}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,35},{192,80}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,650},{192,84}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,36},{192,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,720},{172,84}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{172,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,844},{176,84}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,36},{176,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,650},{180,84}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,36},{180,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,650},{184,72}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,35},{184,72}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,644},{188,74}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{188,74}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_explosion_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{192,80}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{192,80}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obstacle_second_explosion.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c2c8a41154432940869cf4a32027322$</string>
            <key>textureFileName</key>
            <string>obstacle_second_explosion.pvr.ccz</string>
        </dict>
    </dict>
</plist>
