<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obstacle_second_actif_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,856},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,856},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,856},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,662},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,734},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,734},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,734},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,612},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,612},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,612},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,442},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,490},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,490},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,490},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,368},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,368},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,368},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,222},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,246},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,246},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,246},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,124},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,124},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,124},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_second_actif_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obstacle_second_actif.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c4656b9c3bc937bed872d8881fd13cc$</string>
            <key>textureFileName</key>
            <string>obstacle_second_actif.png</string>
        </dict>
    </dict>
</plist>
