<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>droite_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{57,62}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{57,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,208},{45,62}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{45,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,400},{35,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,12},{35,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,214},{43,64}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{43,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,74},{51,64}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{51,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,66}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{59,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,72},{47,68}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{47,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,346},{33,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{33,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,142},{41,70}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{41,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,68},{47,70}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{47,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{53,70}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{53,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,206},{41,72}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{41,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,276},{29,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{29,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,136},{35,70}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{35,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,280},{39,68}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{39,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,140},{45,66}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{45,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,350},{35,66}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{35,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{23,66}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{23,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,418},{29,64}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{29,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,350},{37,62}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{37,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,272},{43,62}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{43,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,414},{33,62}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{33,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,70},{23,64}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{23,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,418},{29,64}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{29,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,336},{37,62}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{37,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{45,64}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{45,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,350},{33,66}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{33,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,142},{21,68}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{21,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,418},{29,68}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{29,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,276},{39,68}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{39,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{49,68}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{49,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{39,68}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{39,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,418},{29,70}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{29,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,280},{39,68}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{39,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{47,68}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{47,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{55,64}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{55,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{45,66}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{45,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{33,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{33,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,208},{41,66}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{41,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>droite_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,140},{47,64}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{47,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_first_state_droite.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cc738bcb633285cc2b41d24a58d342e$</string>
            <key>textureFileName</key>
            <string>bot_first_state_droite.png</string>
        </dict>
    </dict>
</plist>
