<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{79,66}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{79,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,222},{57,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{57,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,360},{35,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,9},{35,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,430},{51,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{51,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,70},{65,64}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{65,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{79,66}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{79,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,214},{59,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{59,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,290},{35,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,13},{35,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{51,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{51,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,142},{67,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{67,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{81,72}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{81,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,148},{59,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{59,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,422},{37,70}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{37,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,284},{51,70}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{51,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{65,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{65,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{79,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{79,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,206},{57,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{57,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,342},{41,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{41,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,274},{47,66}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{47,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,140},{61,64}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{61,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{71,66}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{71,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{53,64}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{53,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,356},{45,64}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{45,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,70},{49,66}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{49,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,136},{63,66}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{63,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,72},{79,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{79,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,204},{57,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{57,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,422},{39,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{39,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,422},{51,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{51,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,76},{67,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{67,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{83,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,136},{61,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{61,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{37,70}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{37,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,138},{53,70}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{53,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,70},{69,68}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{69,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{83,68}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{83,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{59,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{59,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,274},{35,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{35,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,356},{49,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{49,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>face_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,70},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{65,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_first_state_face.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c83c791a8e81359ff0c925ff30cf37a$</string>
            <key>textureFileName</key>
            <string>bot_first_state_face.png</string>
        </dict>
    </dict>
</plist>
