<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dos_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{79,66}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{79,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,138},{57,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{57,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,292},{35,68}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{35,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,140},{49,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{49,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,72},{65,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{65,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{79,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{79,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,286},{57,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{57,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,222},{35,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,12},{35,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,350},{51,70}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{51,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{65,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{65,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{81,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{81,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,212},{59,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{59,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,422},{37,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,11},{37,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{51,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{51,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{65,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{65,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,72},{79,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{79,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,206},{57,66}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{57,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,204},{39,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{39,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,72},{47,66}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{47,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{59,64}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{59,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,70},{71,66}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{71,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,356},{53,64}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{53,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,138},{45,64}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,8},{45,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,138},{49,66}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{49,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,138},{63,66}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{63,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{77,68}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{77,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,422},{55,68}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{55,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,222},{39,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,9},{39,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,422},{49,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{49,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,76},{67,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{67,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{83,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,148},{59,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{59,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,422},{35,70}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{35,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{51,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{51,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,142},{67,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{67,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{83,68}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{83,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{59,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{59,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,208},{33,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{33,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,356},{49,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{49,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>dos_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,72},{65,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{65,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_first_state_dos.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:962054628753c00fcb547f9e93c3ec88$</string>
            <key>textureFileName</key>
            <string>bot_first_state_dos.png</string>
        </dict>
    </dict>
</plist>
