<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot_first_connexion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,828},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,410},{100,157}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,157}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,410},{100,157}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,157}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,324},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,308},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,308},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,308},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,308},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,807},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,646},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,485},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,324},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,206},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,206},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,206},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,206},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,807},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,646},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,485},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,206},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,324},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,163},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,512},{100,143}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{100,143}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,838},{100,141}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{100,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,689},{100,137}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{100,137}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,828},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,469},{100,149}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{100,149}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,410},{100,157}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{100,157}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,104},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,104},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,104},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,104},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,159}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,689},{100,147}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{100,147}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,512},{100,133}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{100,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,587},{100,133}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{100,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_connexion_loop_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,485},{100,133}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{100,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_first_connexion.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f52abe927fdba9a6e529ca856eff0d2b$</string>
            <key>textureFileName</key>
            <string>bot_first_connexion.png</string>
        </dict>
    </dict>
</plist>
