<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>34face_droite_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,70},{57,68}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{57,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,66}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{47,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{37,66}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{37,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{45,66}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{45,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{51,66}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{51,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,70},{59,68}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{59,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,210},{45,70}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{45,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,356},{31,74}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,12},{31,74}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,356},{37,74}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{37,74}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,358},{43,74}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{43,74}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{49,76}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{49,76}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,432},{37,76}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{37,76}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,358},{23,76}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{23,76}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,282},{31,72}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,13},{31,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,210},{39,70}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{39,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,140},{45,70}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{45,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,70},{35,68}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{35,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{31,70}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{31,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,210},{33,70}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{33,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,284},{35,72}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{35,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,356},{39,74}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,3},{39,74}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{37,68}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{37,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,70},{37,68}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{37,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,282},{37,70}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{37,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,284},{35,72}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,8},{35,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,432},{41,76}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{41,76}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,212},{35,70}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{35,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,210},{37,70}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,13},{37,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,282},{35,72}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{35,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,354},{37,72}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{37,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,432},{43,76}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{43,76}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,282},{35,72}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,14},{35,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{25,72}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,14},{25,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{31,70}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{31,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,140},{41,68}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{41,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{51,66}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{51,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{41,66}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{41,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,140},{31,68}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{31,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,140},{39,68}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,13},{39,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_droite_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,140},{49,68}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{49,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_first_state_34face_droite.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c18bd3d420da87d9b6fbd119cf34e56$</string>
            <key>textureFileName</key>
            <string>bot_first_state_34face_droite.png</string>
        </dict>
    </dict>
</plist>
