<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot_first_dos_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,624},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,532},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,532},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,532},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,802},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,667},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,532},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,440},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,440},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,440},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,845},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,710},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,575},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,440},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,845},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,710},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,575},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,575},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,440},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,440},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,348},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,532},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,348},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,532},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_dos_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,348},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,164},{52,135}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,139},{52,135}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,110},{52,135}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,110},{52,135}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,110},{52,135}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,110},{52,135}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,110},{52,135}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,56},{52,135}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,56},{52,135}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,56},{52,135}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,56},{52,135}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,56},{52,135}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,961},{52,135}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,824},{52,135}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,687},{52,135}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,550},{52,135}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,413},{52,135}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,961},{52,135}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,276},{52,135}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,56},{52,135}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,56},{52,135}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,110},{52,135}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,139},{52,135}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,110},{52,135}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_droite_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,824},{52,135}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,348},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,807},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,672},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,537},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,402},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,785},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,650},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,515},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,256},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,256},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,256},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,380},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,310},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,256},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,164},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,164},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,164},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,310},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,245},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,256},{90,133}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,218},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,650},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,164},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,537},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,110},{90,133}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{90,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,687},{52,135}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,550},{52,135}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,413},{52,135}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,276},{52,135}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,139},{52,135}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{52,135}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{52,135}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{52,135}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{52,135}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{52,135}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{52,135}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,135}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{52,135}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{52,135}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{52,135}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{52,135}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{52,135}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{52,135}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{52,135}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{52,135}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{52,135}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{52,135}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{52,135}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,276},{52,135}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_first_gauche_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,135}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{52,135}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_first_pause.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fb7330d3dc050f8be92f1353363f24b$</string>
            <key>textureFileName</key>
            <string>bot_first_pause.png</string>
        </dict>
    </dict>
</plist>
