<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>34face_gauche_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{57,68}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{57,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,146},{47,68}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{47,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{37,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,11},{37,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{45,66}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,11},{45,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,142},{53,66}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{53,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,212},{59,66}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{59,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,76},{47,70}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,10},{47,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,314},{33,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{33,74}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,392},{39,74}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,8},{39,74}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{45,76}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,7},{45,76}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,76}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,8},{49,76}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{37,76}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,7},{37,76}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{25,76}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{25,76}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,236},{31,74}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,7},{31,74}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,80},{39,72}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,8},{39,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,72},{45,68}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{45,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,306},{35,70}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,7},{35,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,74},{33,70}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{33,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,148},{33,70}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{33,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,386},{35,70}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,3},{35,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,158},{39,72}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{39,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,360},{37,68}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,5},{37,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,72},{39,68}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,5},{39,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{37,68}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,6},{37,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,232},{35,72}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,3},{35,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{41,76}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{41,76}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{35,70}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,7},{35,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{37,70}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,8},{37,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,312},{35,72}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,8},{35,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{37,72}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,9},{37,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{43,76}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,6},{43,76}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,390},{35,72}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,10},{35,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,154},{25,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,10},{25,72}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,378},{33,70}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,11},{33,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,290},{43,68}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,12},{43,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,72},{51,66}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,14},{51,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,216},{41,68}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,11},{41,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,286},{31,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{31,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,142},{39,68}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,9},{39,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34face_gauche_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,220},{49,68}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{49,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_first_state_34face_gauche.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:114f7521a1304e545c8d9e66f998bac2$</string>
            <key>textureFileName</key>
            <string>bot_first_state_34face_gauche.png</string>
        </dict>
    </dict>
</plist>
