<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>34dos_gauche_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,130},{47,58}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,13},{47,58}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,258},{37,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,13},{37,58}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,384},{27,60}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,12},{27,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,256},{37,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,14},{37,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,70},{45,62}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,13},{45,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,62}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{53,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{41,64}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{41,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,326},{29,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,12},{29,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{37,66}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,13},{37,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{43,66}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,14},{43,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{51,66}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,15},{51,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,138},{39,68}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,13},{39,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{27,70}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{27,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,394},{33,68}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,11},{33,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{39,66}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{39,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,68},{47,64}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,13},{47,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{35,64}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{35,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,446},{25,64}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,11},{25,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,380},{31,64}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{31,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,198},{39,62}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,11},{39,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,68},{47,60}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,12},{47,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,262},{35,62}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,11},{35,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,446},{23,64}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,10},{23,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,318},{31,64}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,11},{31,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,190},{39,64}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,11},{39,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{47,64}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,12},{47,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,276},{35,64}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,13},{35,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,190},{23,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{23,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,324},{31,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{31,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,70},{41,66}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{41,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{49,64}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{49,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,208},{37,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{37,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,326},{27,66}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{27,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,258},{35,64}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{35,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,134},{43,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,13},{43,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{51,58}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,16},{51,58}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,196},{39,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,13},{39,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,446},{27,60}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{27,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,318},{33,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{33,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_gauche_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,134},{41,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,11},{41,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friend_first_state_34dos_gauche.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d81e3e9e9ad63f2bc2c5117a0f75e51$</string>
            <key>textureFileName</key>
            <string>friend_first_state_34dos_gauche.png</string>
        </dict>
    </dict>
</plist>
