<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>34dos_droite_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{47,58}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{47,58}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,264},{37,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{37,58}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,330},{27,60}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,15},{27,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,204},{37,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{37,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,70},{45,62}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{45,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,64}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{53,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{41,66}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,14},{41,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,336},{29,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,15},{29,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,202},{37,66}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{37,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{43,66}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{43,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{51,66}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{51,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,134},{39,68}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{39,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,392},{27,70}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,13},{27,70}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{33,68}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{33,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,196},{39,66}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{39,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,68},{47,64}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{47,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,264},{35,64}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{35,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,394},{25,64}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,14},{25,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,336},{31,64}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{31,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{39,62}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{39,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,70},{47,60}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{47,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,266},{35,62}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{35,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,330},{23,64}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,13},{23,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,328},{31,64}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,13},{31,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,200},{39,64}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{39,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{47,64}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{47,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,134},{35,66}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{35,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{23,68}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,13},{23,68}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,324},{31,66}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{31,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,132},{41,66}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{41,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{49,66}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{49,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,196},{37,66}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,15},{37,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,402},{27,66}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,14},{27,66}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,270},{35,64}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{35,64}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,70},{43,62}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{43,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{51,60}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{51,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,134},{39,60}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{39,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,404},{27,62}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,13},{27,62}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,266},{33,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,14},{33,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
            <key>34dos_droite_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,134},{41,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{41,60}}</string>
                <key>sourceSize</key>
                <string>{115,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friend_first_state_34dos_droite.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5882715b69d15cea23116aa3c8a1b31$</string>
            <key>textureFileName</key>
            <string>friend_first_state_34dos_droite.png</string>
        </dict>
    </dict>
</plist>
