<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_sixth_loop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,368},{114,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,162},{114,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{116,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,162},{116,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,250},{118,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,162},{118,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,850},{120,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,162},{120,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{120,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,162},{120,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,732},{122,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,162},{122,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,610},{124,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,162},{124,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,162},{126,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,608},{124,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,162},{124,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,370},{124,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,162},{124,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{124,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,160},{124,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,128},{124,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,160},{124,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{124,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,160},{124,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{124,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,160},{124,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,494},{122,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,160},{122,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{122,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,160},{122,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,126},{122,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,160},{122,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{122,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,160},{122,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,126},{122,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,160},{122,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{122,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,160},{122,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,370},{122,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,160},{122,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,736},{120,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,160},{120,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,370},{120,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,160},{120,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,610},{120,240}}</string>
                <key>offset</key>
                <string>{-2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,160},{120,240}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,492},{118,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,162},{118,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,250},{118,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,162},{118,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,250},{118,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,162},{118,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,732},{116,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,162},{116,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,732},{116,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,162},{116,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>plante_sixth_loop_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,492},{116,238}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,162},{116,238}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_sixth_loop@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:861316d2712432e27700c9832d4fdfb8$</string>
            <key>textureFileName</key>
            <string>plante_sixth_loop@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
