<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dig_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,420},{198,200}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{198,200}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dig_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{204,208}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{204,208}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dig_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,206}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{208,206}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dig_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,208}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{208,208}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>dig_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,210},{206,208}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{206,208}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>joystick_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>joystick_pad.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,420},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pause_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet_common.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef1bcdf5711d24a709bc243ff6841d9b$</string>
            <key>textureFileName</key>
            <string>sprite_sheet_common.png</string>
        </dict>
    </dict>
</plist>
