<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fin_droite_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,113},{84,109}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{84,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_droite_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,115},{84,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{84,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_droite_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{86,109}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{86,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_droite_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,115},{86,109}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{86,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_droite_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{86,107}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{86,107}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_droite_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{86,111}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_droite_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,121},{88,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_droite_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_droite_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{88,117}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_droite_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,117}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_fin_droite@2x.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04cf8b5364d3bf79dd51ea5ef62fef06$</string>
            <key>textureFileName</key>
            <string>hero_first_fin_droite@2x.png</string>
        </dict>
    </dict>
</plist>
