<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debut_droite_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_droite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{88,117}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_droite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{88,115}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{88,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_droite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,113}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_droite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{88,111}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{88,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_droite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{88,113}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{88,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_droite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_droite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,115},{86,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_droite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,115},{86,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_droite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,117},{86,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_droite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,115},{86,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_droite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{86,111}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{86,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_debut_droite@2x.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:041b4c58b079b2b171e5cae5e3a41cb0$</string>
            <key>textureFileName</key>
            <string>hero_first_debut_droite@2x.png</string>
        </dict>
    </dict>
</plist>
