<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pause_droite_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,120},{86,116}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,120},{86,116}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,702},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,818},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,702},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,586},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,586},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,586},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,818},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,702},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,586},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,470},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,470},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,470},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,470},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,354},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,354},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,354},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,354},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,238},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,238},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,238},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,238},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,120},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,120},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_droite_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_pause_droite@2x.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63dcd91c719076c78473dc6882f79cfb$</string>
            <key>textureFileName</key>
            <string>hero_first_pause_droite@2x.png</string>
        </dict>
    </dict>
</plist>
