<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obstacle_third_explosion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{176,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{176,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{176,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{176,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{176,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{176,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{176,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{176,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{176,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{176,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{176,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{176,118}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,124},{176,114}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{176,114}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{176,114}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{176,114}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,124},{176,114}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{176,114}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,124},{176,108}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{176,108}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,124},{176,100}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{176,100}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,180},{176,92}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,28},{176,92}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,226},{176,88}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{176,88}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,234},{176,86}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,34},{176,86}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,326},{176,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{176,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{176,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{176,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,326},{176,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{176,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,402},{176,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{176,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,322},{176,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{176,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,240},{176,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{176,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{176,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{176,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,240},{176,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{176,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,358},{176,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,36},{176,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,316},{176,84}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{176,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,536},{174,80}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,37},{174,80}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,408},{176,82}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,37},{176,82}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{168,80}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,37},{168,80}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,712},{166,78}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,40},{166,78}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,492},{166,76}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,44},{166,76}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,880},{150,76}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{150,76}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,492},{152,76}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,44},{152,76}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,412},{156,76}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{156,76}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,712},{170,76}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,44},{170,76}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{170,76}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,44},{170,76}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,76}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,44},{180,76}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,488},{176,76}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,44},{176,76}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,412},{164,76}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,44},{164,76}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,492},{164,76}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,44},{164,76}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{172,76}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,44},{172,76}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obstacle_third_explosion.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdb8758cbcf9fde81f46664dc5f63669$</string>
            <key>textureFileName</key>
            <string>obstacle_third_explosion.pvr.ccz</string>
        </dict>
    </dict>
</plist>
