<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obstacle_third_explosion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{220,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{220,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{220,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{220,114}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{220,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{220,114}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{220,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{220,114}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{220,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{220,114}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,120},{220,108}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{220,108}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{220,102}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{220,102}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,224},{220,94}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,322},{220,90}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{220,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,304},{220,90}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{220,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,224},{220,90}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{220,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,212},{220,90}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{220,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,230},{220,90}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{220,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,212},{220,90}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{220,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,120},{220,90}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{220,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,120},{220,90}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{220,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,304},{220,88}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{220,88}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,394},{220,84}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{220,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,396},{214,84}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{214,84}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,414},{212,86}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,34},{212,86}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,480},{200,90}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{200,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,652},{204,90}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,30},{204,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,446},{204,90}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,30},{204,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,482},{198,90}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{198,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,446},{200,90}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{200,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,834},{184,90}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{184,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,836},{186,90}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,30},{186,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,648},{184,90}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{184,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,502},{188,90}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{188,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_third_explosion_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,648},{186,90}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{186,90}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obstacle_third_explosion.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3246d0899ef206905fbbfc750601f0f4$</string>
            <key>textureFileName</key>
            <string>obstacle_third_explosion.png</string>
        </dict>
    </dict>
</plist>
