<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fin_34_dos_gauche_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,232},{68,109}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_gauche_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,121},{68,109}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_gauche_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{68,107}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{68,107}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_gauche_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{68,105}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{68,105}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_gauche_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,234},{68,107}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{68,107}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_gauche_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,121},{68,111}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_gauche_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{68,113}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{68,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_gauche_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,117}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{70,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_gauche_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,117}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{70,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_gauche_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,117}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{70,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_fin_34_dos_gauche@2x.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab4f07fd50a3c09ba7c963da3e4960dc$</string>
            <key>textureFileName</key>
            <string>hero_first_fin_34_dos_gauche@2x.png</string>
        </dict>
    </dict>
</plist>
