<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>milieu_34_dos_gauche_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,115},{68,109}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,115},{68,109}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,115},{68,109}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,115},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{68,113}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,115},{68,109}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,341},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,228},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,115},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,113}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,339},{68,109}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>milieu_34_dos_gauche_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,228},{68,109}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_milieu_34_dos_gauche@2x.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45b534a5a1fa09f0543c31dad3d85200$</string>
            <key>textureFileName</key>
            <string>hero_first_milieu_34_dos_gauche@2x.png</string>
        </dict>
    </dict>
</plist>
