<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debut_34_dos_gauche_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,119}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{70,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_dos_gauche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,117}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{70,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_dos_gauche_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,115}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{70,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_dos_gauche_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,119},{70,113}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{70,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_dos_gauche_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,234},{70,111}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{70,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_dos_gauche_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{70,111}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{70,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_dos_gauche_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,121},{70,111}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{70,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_dos_gauche_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_dos_gauche_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,234},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_dos_gauche_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{68,111}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_dos_gauche_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,347},{68,109}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_dos_gauche_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,347},{68,109}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_debut_34_dos_gauche@2x.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efc17353fbdc37b8f974d648e0456bd0$</string>
            <key>textureFileName</key>
            <string>hero_first_debut_34_dos_gauche@2x.png</string>
        </dict>
    </dict>
</plist>
