<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>34dos_droite_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,2},{92,113}}</string>
			<key>offset</key>
			<string>{-8,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,33},{92,113}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,387},{74,115}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,32},{74,115}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,754},{54,117}}</string>
			<key>offset</key>
			<string>{10,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{98,32},{54,117}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,504},{72,119}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,33},{72,119}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,135},{88,121}}</string>
			<key>offset</key>
			<string>{-10,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,33},{88,121}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{104,123}}</string>
			<key>offset</key>
			<string>{-19,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,33},{104,123}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,256},{80,129}}</string>
			<key>offset</key>
			<string>{-9,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,30},{80,129}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,520},{56,131}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88,30},{56,131}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,504},{70,131}}</string>
			<key>offset</key>
			<string>{-9,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,33},{70,131}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,131},{86,133}}</string>
			<key>offset</key>
			<string>{-20,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,33},{86,133}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,2},{98,131}}</string>
			<key>offset</key>
			<string>{-29,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,36},{98,131}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,361},{76,135}}</string>
			<key>offset</key>
			<string>{-21,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,31},{76,135}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,875},{52,137}}</string>
			<key>offset</key>
			<string>{-12,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,27},{52,137}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,647},{64,133}}</string>
			<key>offset</key>
			<string>{-20,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,29},{64,133}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,387},{76,131}}</string>
			<key>offset</key>
			<string>{-28,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,29},{76,131}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,2},{90,127}}</string>
			<key>offset</key>
			<string>{-35,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,31},{90,127}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,625},{68,127}}</string>
			<key>offset</key>
			<string>{-25,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,29},{68,127}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,361},{46,127}}</string>
			<key>offset</key>
			<string>{-13,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,27},{46,127}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,780},{60,125}}</string>
			<key>offset</key>
			<string>{-20,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,27},{60,125}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,498},{76,121}}</string>
			<key>offset</key>
			<string>{-27,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,29},{76,121}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,117},{90,119}}</string>
			<key>offset</key>
			<string>{-33,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,30},{90,119}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,621},{68,123}}</string>
			<key>offset</key>
			<string>{-21,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,28},{68,123}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,490},{44,125}}</string>
			<key>offset</key>
			<string>{-8,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,27},{44,125}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,653},{60,125}}</string>
			<key>offset</key>
			<string>{-15,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,29},{60,125}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,377},{76,125}}</string>
			<key>offset</key>
			<string>{-21,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,30},{76,125}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,127},{92,127}}</string>
			<key>offset</key>
			<string>{-27,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,30},{92,127}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,516},{70,129}}</string>
			<key>offset</key>
			<string>{-13,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,30},{70,129}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,266},{44,133}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95,28},{44,133}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,742},{62,131}}</string>
			<key>offset</key>
			<string>{-4,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,31},{62,131}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,252},{80,131}}</string>
			<key>offset</key>
			<string>{-9,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,32},{80,131}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,121},{98,129}}</string>
			<key>offset</key>
			<string>{-15,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,34},{98,129}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,385},{74,129}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,32},{74,129}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,782},{52,129}}</string>
			<key>offset</key>
			<string>{11,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{100,30},{52,129}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,520},{68,125}}</string>
			<key>offset</key>
			<string>{4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,32},{68,125}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,238},{86,121}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,34},{86,121}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_35.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,2},{102,117}}</string>
			<key>offset</key>
			<string>{-11,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,36},{102,117}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,266},{78,119}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,32},{78,119}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_37.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,875},{52,121}}</string>
			<key>offset</key>
			<string>{14,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{103,28},{52,121}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_38.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,621},{66,119}}</string>
			<key>offset</key>
			<string>{6,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88,29},{66,119}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
		<key>34dos_droite_39.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,258},{80,117}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,29},{80,117}}</string>
			<key>sourceSize</key>
			<string>{230,175}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>friend_first_state_34dos_droite@2x.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ede310a17f6cf712236ae9fcfc27e421$</string>
		<key>textureFileName</key>
		<string>friend_first_state_34dos_droite@2x.png</string>
	</dict>
</dict>
</plist>
