<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fin_34_dos_gauche_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,226},{65,105}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{65,105}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_34_dos_gauche_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,222},{65,105}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{65,105}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_34_dos_gauche_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{65,103}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{65,103}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_34_dos_gauche_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,329},{65,101}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{65,101}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_34_dos_gauche_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,117},{67,103}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{67,103}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_34_dos_gauche_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,117},{67,107}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{67,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_34_dos_gauche_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{67,109}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{67,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_34_dos_gauche_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{67,113}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{67,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_34_dos_gauche_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,113}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{67,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>fin_34_dos_gauche_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,113}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{67,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_fin_34_dos_gauche.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7df0f70370e7cda1669aab092cb9b193$</string>
            <key>textureFileName</key>
            <string>hero_first_fin_34_dos_gauche.png</string>
        </dict>
    </dict>
</plist>
