<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debut_34_dos_gauche_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,115}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{67,115}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_gauche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,113}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{67,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_gauche_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{67,111}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{67,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_gauche_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,115},{67,109}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{67,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_gauche_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{67,107}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{67,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_gauche_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,226},{67,107}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{67,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_gauche_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{67,107}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{67,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_gauche_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,226},{67,107}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{67,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_gauche_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{67,107}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{67,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_gauche_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,117},{67,107}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{67,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_gauche_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,335},{65,105}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{65,105}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_34_dos_gauche_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,335},{65,105}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{65,105}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_debut_34_dos_gauche.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:166187df0f12ee476e2720ddc1f64455$</string>
            <key>textureFileName</key>
            <string>hero_first_debut_34_dos_gauche.png</string>
        </dict>
    </dict>
</plist>
