<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debut_34_face_droite_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,119}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{70,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_face_droite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,117}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,11},{70,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_face_droite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,115}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,13},{70,115}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_face_droite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,119},{70,113}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{70,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_face_droite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,234},{70,111}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{70,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_face_droite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{70,111}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{70,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_face_droite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,121},{70,111}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{70,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_face_droite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{68,111}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,15},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_face_droite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,234},{68,111}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,15},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_face_droite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{68,111}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,15},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_face_droite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,347},{68,109}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>debut_34_face_droite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,347},{68,109}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_debut_34_face_droite@2x.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49f4c28c8e92ead89bee21176fd784bf$</string>
            <key>textureFileName</key>
            <string>hero_first_debut_34_face_droite@2x.png</string>
        </dict>
    </dict>
</plist>
