<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debut_34_face_gauche_00.png</key>
            <dict>
                <key>height</key>
                <integer>119</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>137</integer>
                <key>originalWidth</key>
                <integer>120</integer>
                <key>width</key>
                <integer>70</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>debut_34_face_gauche_01.png</key>
            <dict>
                <key>height</key>
                <integer>117</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>137</integer>
                <key>originalWidth</key>
                <integer>120</integer>
                <key>width</key>
                <integer>70</integer>
                <key>x</key>
                <integer>74</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>debut_34_face_gauche_02.png</key>
            <dict>
                <key>height</key>
                <integer>115</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>137</integer>
                <key>originalWidth</key>
                <integer>120</integer>
                <key>width</key>
                <integer>70</integer>
                <key>x</key>
                <integer>146</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>debut_34_face_gauche_03.png</key>
            <dict>
                <key>height</key>
                <integer>113</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>137</integer>
                <key>originalWidth</key>
                <integer>120</integer>
                <key>width</key>
                <integer>70</integer>
                <key>x</key>
                <integer>146</integer>
                <key>y</key>
                <integer>119</integer>
            </dict>
            <key>debut_34_face_gauche_04.png</key>
            <dict>
                <key>height</key>
                <integer>111</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>137</integer>
                <key>originalWidth</key>
                <integer>120</integer>
                <key>width</key>
                <integer>70</integer>
                <key>x</key>
                <integer>74</integer>
                <key>y</key>
                <integer>234</integer>
            </dict>
            <key>debut_34_face_gauche_05.png</key>
            <dict>
                <key>height</key>
                <integer>111</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>137</integer>
                <key>originalWidth</key>
                <integer>120</integer>
                <key>width</key>
                <integer>70</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>123</integer>
            </dict>
            <key>debut_34_face_gauche_06.png</key>
            <dict>
                <key>height</key>
                <integer>111</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>137</integer>
                <key>originalWidth</key>
                <integer>120</integer>
                <key>width</key>
                <integer>70</integer>
                <key>x</key>
                <integer>74</integer>
                <key>y</key>
                <integer>121</integer>
            </dict>
            <key>debut_34_face_gauche_07.png</key>
            <dict>
                <key>height</key>
                <integer>111</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>137</integer>
                <key>originalWidth</key>
                <integer>120</integer>
                <key>width</key>
                <integer>68</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>349</integer>
            </dict>
            <key>debut_34_face_gauche_08.png</key>
            <dict>
                <key>height</key>
                <integer>111</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>137</integer>
                <key>originalWidth</key>
                <integer>120</integer>
                <key>width</key>
                <integer>68</integer>
                <key>x</key>
                <integer>146</integer>
                <key>y</key>
                <integer>234</integer>
            </dict>
            <key>debut_34_face_gauche_09.png</key>
            <dict>
                <key>height</key>
                <integer>111</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>137</integer>
                <key>originalWidth</key>
                <integer>120</integer>
                <key>width</key>
                <integer>68</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>236</integer>
            </dict>
            <key>debut_34_face_gauche_10.png</key>
            <dict>
                <key>height</key>
                <integer>109</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>137</integer>
                <key>originalWidth</key>
                <integer>120</integer>
                <key>width</key>
                <integer>68</integer>
                <key>x</key>
                <integer>142</integer>
                <key>y</key>
                <integer>347</integer>
            </dict>
            <key>debut_34_face_gauche_11.png</key>
            <dict>
                <key>height</key>
                <integer>109</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>137</integer>
                <key>originalWidth</key>
                <integer>120</integer>
                <key>width</key>
                <integer>68</integer>
                <key>x</key>
                <integer>72</integer>
                <key>y</key>
                <integer>347</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>hero_first_debut_34_face_gauche@2x.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c309fff59e0d32d541a5a2a459fc5dae$</string>
            <key>textureFileName</key>
            <string>hero_first_debut_34_face_gauche@2x.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>512</integer>
            <key>width</key>
            <integer>256</integer>
        </dict>
    </dict>
</plist>
