<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debut_dos_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{85,115}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_dos_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{85,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{85,113}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_dos_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{85,111}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{85,111}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_dos_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{85,109}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_dos_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,220},{85,107}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{85,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_dos_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,113},{85,107}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{85,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_dos_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,113},{85,107}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{85,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_dos_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,111},{85,107}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{85,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_dos_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,111},{85,107}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{85,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_dos_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{85,107}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{85,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_dos_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{85,107}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{85,107}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_dos_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,109}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>debut_dos_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{85,109}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_debut_dos.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89e8cd78540d0480cda4df797146836d$</string>
            <key>textureFileName</key>
            <string>hero_first_debut_dos.png</string>
        </dict>
    </dict>
</plist>
