<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot_third_connexion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,758},{76,133}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{76,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,615},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,472},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,380},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,370},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,370},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,370},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,370},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,278},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,278},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,278},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,278},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,809},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,666},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,523},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,278},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,380},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,237},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,186},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,186},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,186},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,186},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,186},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,94},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,94},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,758},{76,133}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{76,133}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,94},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,94},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,94},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,94},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,809},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,666},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,523},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,380},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,237},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>bot_third_connexion_loop_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,141}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{90,141}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_third_connexion.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48b6aa79de1799bc97e8d5a6f6d74dc5$</string>
            <key>textureFileName</key>
            <string>bot_third_connexion.png</string>
        </dict>
    </dict>
</plist>
