<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fin_34_dos_droite_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,232},{68,109}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_droite_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,121},{68,109}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{68,109}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_droite_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{68,107}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,19},{68,107}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_droite_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{68,105}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{68,105}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_droite_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,234},{68,107}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{68,107}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_droite_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,121},{68,111}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,15},{68,111}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_droite_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{68,113}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,13},{68,113}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_droite_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,117}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{70,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_droite_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,117}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,10},{70,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>fin_34_dos_droite_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,117}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,10},{70,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_fin_34_dos_droite@2x.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0193ed456dc846b395fbf2ec386a8582$</string>
            <key>textureFileName</key>
            <string>hero_first_fin_34_dos_droite@2x.png</string>
        </dict>
    </dict>
</plist>
