<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>porte_fermee_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1610},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_fermee_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1610},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_fermee_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1610},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_fermee_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverte_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1208},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverte_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1208},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverte_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1208},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverte_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverture_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1610},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverture_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,806},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverture_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,806},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverture_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,806},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverture_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverture_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,404},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverture_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,404},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverture_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,404},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverture_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverture_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverture_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverture_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
            <key>porte_ouverture_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,400}}</string>
                <key>sourceSize</key>
                <string>{450,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>door@2x.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5020d55dc591459a2a7894e471d3ff3$</string>
            <key>textureFileName</key>
            <string>door@2x.png</string>
        </dict>
    </dict>
</plist>
