<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obstacle_first_explosion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,240}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{416,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{414,240}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{414,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{414,240}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{414,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{414,240}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{414,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{414,232}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{414,232}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,244},{414,214}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{414,214}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,244},{414,204}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{414,204}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,244},{414,196}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,44},{414,196}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,442},{414,192}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,48},{414,192}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,450},{414,188}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{414,188}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,832},{414,184}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,56},{414,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,826},{414,184}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,56},{414,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,822},{414,184}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,56},{414,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{414,184}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,56},{414,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,646},{414,184}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,56},{414,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,640},{414,184}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,56},{414,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,636},{414,184}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,56},{414,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{414,184}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,56},{414,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,460},{414,184}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,56},{414,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{404,184}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{404,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1008},{392,176}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,64},{392,176}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1012},{386,176}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,64},{386,176}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1186},{382,176}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,64},{382,176}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,2},{378,170}}</string>
                <key>offset</key>
                <string>{11,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,68},{378,170}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,918},{350,168}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,67},{350,168}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{340,176}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,60},{340,176}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1190},{336,174}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,56},{336,174}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{322,168}}</string>
                <key>offset</key>
                <string>{19,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,55},{322,168}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1204},{330,170}}</string>
                <key>offset</key>
                <string>{19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,56},{330,170}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1274},{340,170}}</string>
                <key>offset</key>
                <string>{18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,61},{340,170}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1018},{344,184}}</string>
                <key>offset</key>
                <string>{19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{344,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,732},{358,184}}</string>
                <key>offset</key>
                <string>{13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{358,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,546},{366,184}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,56},{366,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,174},{370,184}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,56},{370,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,360},{380,184}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,56},{380,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_first_explosion_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,1088},{390,184}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{390,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obstacle_first_explosion@2x.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f11ec134a15faea2924e4af4a3ac526c$</string>
            <key>textureFileName</key>
            <string>obstacle_first_explosion@2x.png</string>
        </dict>
    </dict>
</plist>
