<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obstacle_first_inactif_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,856},{212,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,856},{212,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,856},{212,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,644},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,734},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,734},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,734},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,612},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,612},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,612},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,430},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,490},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,490},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,490},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,368},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,368},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,368},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,216},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,246},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,246},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,246},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,124},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,124},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,124},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{212,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{212,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>obstacle_first_inactif_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obstacle_first_inactif.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a37a7e45799d08fca58b4ac52ca6dce2$</string>
            <key>textureFileName</key>
            <string>obstacle_first_inactif.png</string>
        </dict>
    </dict>
</plist>
