<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_first_loop_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1590},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1412},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,422},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,782},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,392},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,212},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,212},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,212},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,212},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,2},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,388}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{208,388}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1262},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1440},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1262},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1202},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1202},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1052},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1052},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1052},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,992},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,842},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,842},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,842},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1832},{208,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,8},{208,384}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1832},{208,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,8},{208,384}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1622},{208,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,8},{208,384}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1472},{208,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,8},{208,384}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1472},{208,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,8},{208,384}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1828},{208,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,8},{208,384}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,782},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,632},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,632},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,632},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,422},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,422},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,422},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1560},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>plante_first_loop_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1172},{208,386}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{208,386}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_first_loop@2x.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:496c12c333ce75ef8b6847179411c768$</string>
            <key>textureFileName</key>
            <string>plante_first_loop@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
