<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_third_debut_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,908},{136,98}}</string>
                <key>offset</key>
                <string>{24,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,202},{136,98}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{126,110}}</string>
                <key>offset</key>
                <string>{16,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,190},{126,110}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{130,132}}</string>
                <key>offset</key>
                <string>{8,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,168},{130,132}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{132,154}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,146},{132,154}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,264},{130,172}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,128},{130,172}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,134},{128,204}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,96},{128,204}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,894},{128,234}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,66},{128,234}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,134},{126,256}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,44},{126,256}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,392},{122,278}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,22},{122,278}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,512},{122,282}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,18},{122,282}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,388},{122,290}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,10},{122,290}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,262},{124,298}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,2},{124,298}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,134},{126,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{126,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,762},{130,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{130,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,460},{130,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{130,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,158},{130,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{130,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{130,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{130,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{130,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{130,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{130,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{130,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{130,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{130,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_third_debut_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{130,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_third_debut@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72798f67516b0c5af870122c1faa4ac0$</string>
            <key>textureFileName</key>
            <string>plante_third_debut@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
