<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pause_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{85,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,236},{85,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,236},{85,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,698},{85,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,813},{85,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,698},{85,113}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,583},{85,113}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,583},{85,113}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,583},{85,113}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,813},{85,113}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,698},{85,113}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,583},{85,113}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{85,113}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{85,113}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{85,113}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,468},{85,113}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,468},{85,113}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,468},{85,113}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{85,113}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,468},{85,113}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,353},{85,113}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,353},{85,113}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,353},{85,113}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,353},{85,113}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,236},{85,115}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,236},{85,115}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{85,115}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,119},{85,115}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,119},{85,115}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,119},{85,115}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,119},{85,115}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{85,115}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{85,115}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{85,115}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{85,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>pause_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>hero_first_pause.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4424575a1bdc53a2e35d65d3def7e6f$</string>
            <key>textureFileName</key>
            <string>hero_first_pause.png</string>
        </dict>
    </dict>
</plist>
