<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_second_debut_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,898},{93,60}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,27},{93,60}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,803},{93,60}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,27},{93,60}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,708},{93,64}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{93,64}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,706},{93,68}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{93,68}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,700},{93,72}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{93,72}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,622},{93,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{93,76}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,622},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{93,82}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,622},{93,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{93,84}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,708},{93,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{93,84}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,803},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{93,82}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,898},{93,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{93,84}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,92},{93,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,92},{93,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{93,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{93,84}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{93,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{93,84}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,620},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,534},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,534},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,534},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,532},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,446},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,446},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,446},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,444},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,358},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,358},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,92},{93,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,358},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,356},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{93,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,270},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{93,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{93,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{93,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,270},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,268},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,182},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,182},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,182},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,180},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_debut_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,92},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_second_debut.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a67b9defe4a5205f14246696abf77b4b$</string>
            <key>textureFileName</key>
            <string>plante_second_debut.png</string>
        </dict>
    </dict>
</plist>
