<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_second_loop_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,532},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,532},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,532},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,530},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,444},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,444},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,444},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,442},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,356},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,356},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,356},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{93,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,354},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,268},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,268},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,268},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{93,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,266},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,180},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,180},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,180},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,178},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,92},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,92},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,92},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,90},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>plante_second_loop_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{93,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_second_loop.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdbdebf5855b2ff3431cde55b26827c5$</string>
            <key>textureFileName</key>
            <string>plante_second_loop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
