<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pause_dos_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,120},{86,116}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,120},{86,116}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,702},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,818},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,702},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,586},{86,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,586},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,586},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,818},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,702},{86,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,586},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,470},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,470},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,470},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,470},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,354},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,354},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,354},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,354},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,238},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,238},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,238},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,238},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{86,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,120},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,120},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pause_dos_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_pause_dos@2x.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a610761d408c4c65a184072cc946317e$</string>
            <key>textureFileName</key>
            <string>hero_first_pause_dos@2x.png</string>
        </dict>
    </dict>
</plist>
