<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pause_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{88,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,244},{88,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,244},{88,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,722},{88,117}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,841},{88,117}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,722},{88,117}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,603},{88,117}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,603},{88,117}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,603},{88,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,841},{88,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,722},{88,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,603},{88,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{88,117}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{88,117}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{88,117}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,484},{88,117}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,484},{88,117}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,484},{88,117}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{88,117}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,484},{88,117}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,365},{88,117}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,365},{88,117}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,365},{88,117}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,365},{88,117}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{88,117}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,244},{88,119}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,244},{88,119}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{88,119}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,123},{88,119}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,123},{88,119}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,123},{88,119}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,123},{88,119}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{88,119}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{88,119}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{88,119}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>pause_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{88,119}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_pause@2x.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87c4b8c63a6f4671eff7b441b50a5364$</string>
            <key>textureFileName</key>
            <string>hero_first_pause@2x.png</string>
        </dict>
    </dict>
</plist>
