<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_second_loop_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1804},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,877},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,877},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,877},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,877},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,702},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,702},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,702},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,702},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,527},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,527},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,527},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,527},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,352},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,352},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,352},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,352},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,177},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,177},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,177},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,177},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>plante_second_loop_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,173}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{186,173}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_second_loop@2x.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da0f01bfe3e840f95db74d24e4500ed3$</string>
            <key>textureFileName</key>
            <string>plante_second_loop@2x.png</string>
        </dict>
    </dict>
</plist>
