<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot_third_disconnexion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,808},{150,264}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,67},{150,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,270},{162,276}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,61},{162,276}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,182},{166,278}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,60},{166,278}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,180},{178,278}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,56},{178,278}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,2},{178,282}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,56},{178,282}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{178,282}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,56},{178,282}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{178,282}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,56},{178,282}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{178,282}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,56},{178,282}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,282}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,56},{178,282}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{178,282}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{178,282}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{178,282}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{178,282}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{178,282}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{178,282}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{178,282}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{178,282}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{178,282}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{178,282}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{178,282}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,56},{178,282}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,282}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,55},{178,282}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,2},{176,282}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,56},{176,282}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,182},{162,274}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,60},{162,274}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,514},{150,266}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,63},{150,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,806},{150,264}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,65},{150,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,800},{150,264}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,67},{150,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,338},{154,266}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,65},{154,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,182},{154,266}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,65},{154,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,652},{152,264}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,66},{152,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,504},{150,266}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,64},{150,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,492},{152,266}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,64},{152,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,646},{152,264}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,65},{152,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,548},{154,264}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,65},{154,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,500},{150,266}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,63},{150,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,182},{154,266}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,63},{154,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,814},{152,264}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,64},{152,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,666},{152,264}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,64},{152,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,182},{154,266}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,62},{154,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,360},{152,266}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,62},{152,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,338},{152,266}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,62},{152,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,2},{154,266}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,62},{154,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,338},{152,266}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,62},{152,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,350},{152,266}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,62},{152,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,644},{154,264}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,64},{154,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,798},{150,264}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,64},{150,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,346},{152,266}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,63},{152,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,646},{150,264}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,65},{150,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,494},{150,266}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,64},{150,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,656},{150,264}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,66},{150,264}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_third_disconnexion_loop_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,492},{150,266}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{150,266}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_third_disconnexion@2x.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c152b6cbae30c184596b1fc85895df6f$</string>
            <key>textureFileName</key>
            <string>bot_third_disconnexion@2x.png</string>
        </dict>
    </dict>
</plist>
