<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obstacle_second_actif_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1696},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1696},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1696},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1696},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1316},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1454},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1454},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1454},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1212},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1212},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1212},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,878},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,970},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,970},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,970},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,728},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,728},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,728},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,440},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,486},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,486},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,486},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,244},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,244},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,244},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_second_actif_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{436,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obstacle_second_actif@2x.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:232b21d7aa97566fb48204bb16bfe36a$</string>
            <key>textureFileName</key>
            <string>obstacle_second_actif@2x.png</string>
        </dict>
    </dict>
</plist>
