<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_fourth_debut_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,640},{128,100}}</string>
                <key>offset</key>
                <string>{3,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,200},{128,100}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{122,114}}</string>
                <key>offset</key>
                <string>{4,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,186},{122,114}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,528},{116,128}}</string>
                <key>offset</key>
                <string>{4,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,172},{116,128}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{112,138}}</string>
                <key>offset</key>
                <string>{3,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,162},{112,138}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,528},{110,150}}</string>
                <key>offset</key>
                <string>{2,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,150},{110,150}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{106,162}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,138},{106,162}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,106},{104,178}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,122},{104,178}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{102,194}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,106},{102,194}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,212},{102,208}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,92},{102,208}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,316},{104,224}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,76},{104,224}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,422},{104,240}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,60},{104,240}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{112,256}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,44},{112,256}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{118,274}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,26},{118,274}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{126,292}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,8},{126,292}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_debut_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_fourth_debut@2x.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c79be143a2305948368563a189fa364e$</string>
            <key>textureFileName</key>
            <string>plante_fourth_debut@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
