<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_fourth_loop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,718},{140,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,718},{140,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,718},{140,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,576},{140,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,574},{140,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,434},{140,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,432},{140,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,304},{140,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,290},{140,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,290},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,146},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,146},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{142,300}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,300}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{142,300}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,146},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,146},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,290},{142,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{142,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,290},{140,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,304},{140,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,432},{140,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,434},{140,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,574},{140,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,576},{140,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,718},{140,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>plante_fourth_loop_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,718},{140,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{140,300}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_fourth_loop@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a918261ce464c4b84d6f56e3bcce5c1$</string>
            <key>textureFileName</key>
            <string>plante_fourth_loop@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
