<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot_second_disconnexion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,570},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,570},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,570},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,570},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,570},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,570},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,570},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,570},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1480},{184,268}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,63},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1734},{190,276}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,61},{190,276}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{188,284}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,56},{188,284}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{190,272}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,68},{190,272}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{200,288}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{200,288}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{200,288}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{200,288}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{200,284}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{200,284}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{200,288}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{200,288}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,288}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{200,288}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{190,272}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,68},{190,272}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{200,284}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{200,284}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{190,274}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,62},{190,274}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1210},{184,268}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,63},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,940},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,940},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,940},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,940},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,568},{186,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,382},{186,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,382},{186,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,382},{186,268}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,566},{186,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1666},{184,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,380},{186,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,380},{186,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1480},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,194},{186,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,194},{186,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{188,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,62},{188,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,194},{186,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,378},{186,268}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,192},{186,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1210},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{188,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,62},{188,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,192},{186,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,570},{184,268}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,190},{186,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,2},{186,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{186,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,940},{184,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,754},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,754},{184,268}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_disconnexion_loop_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,568},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_second_disconnexion@2x.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdc0d52e5f89d2bbb2fc6d3b4b5435eb$</string>
            <key>textureFileName</key>
            <string>bot_second_disconnexion@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
