<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot_second_dos_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,560},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,812},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1622},{184,268}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,61},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1352},{184,268}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,61},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1082},{184,268}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,61},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,812},{184,268}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,60},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1622},{184,268}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,60},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1352},{184,268}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,60},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1082},{184,268}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,59},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,560},{184,268}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,59},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,812},{184,268}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,59},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,374},{184,268}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,59},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,374},{184,268}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,58},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,374},{184,268}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,58},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,374},{184,268}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,58},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,560},{184,268}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,58},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,374},{184,268}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,58},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,374},{184,268}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,58},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,188},{184,268}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,59},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,560},{184,268}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,59},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,188},{184,268}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,60},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1622},{184,268}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,60},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,188},{184,268}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,61},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1352},{184,268}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,61},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_dos_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,188},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,560},{102,268}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,63},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1622},{102,268}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,62},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1352},{102,268}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,62},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,664},{102,268}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,62},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,560},{102,268}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,61},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,812},{102,268}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,61},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1082},{102,268}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,61},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1892},{102,268}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,60},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1622},{102,268}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,60},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1352},{102,268}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,60},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1082},{102,268}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,59},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1892},{102,268}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,59},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,542},{102,268}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,59},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,458},{102,268}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,59},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,272},{102,268}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,59},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,560},{102,268}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,59},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,188},{102,268}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,59},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,542},{102,268}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,59},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1352},{102,268}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,60},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1892},{102,268}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,60},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1082},{102,268}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,61},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,2},{102,268}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,61},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,664},{102,268}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,62},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_droite_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1892},{102,268}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,62},{102,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,188},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1622},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1352},{184,268}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,61},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1082},{184,268}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,61},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,812},{184,268}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,61},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,542},{184,268}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,60},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,272},{184,268}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,60},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{184,268}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,60},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{184,268}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,59},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{184,268}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,59},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{184,268}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,59},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{184,268}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,59},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{184,268}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,58},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1622},{184,268}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,58},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{184,268}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,58},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,188},{184,268}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,58},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{184,268}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,58},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{184,268}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,58},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{184,268}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,59},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{184,268}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,59},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{184,268}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,60},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,272},{184,268}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,60},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{184,268}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,61},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1082},{184,268}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,61},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1172},{100,268}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,63},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,1082},{100,268}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,62},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1082},{100,268}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,62},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1072},{100,268}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,62},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1038},{100,268}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1038},{100,268}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,812},{100,268}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1070},{100,268}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,60},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,970},{100,268}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,60},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,968},{100,268}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,60},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,868},{100,268}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,59},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,866},{100,268}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,59},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,812},{100,268}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,768},{100,268}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,768},{100,268}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1172},{100,268}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,59},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,766},{100,268}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,59},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,812},{100,268}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,764},{100,268}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,59},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,968},{100,268}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,60},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,664},{100,268}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,60},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,812},{100,268}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,662},{100,268}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,61},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1072},{100,268}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,62},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_gauche_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,560},{100,268}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,62},{100,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_second_pause@2x.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c93190a440c22eaff9eeaee77e2d0837$</string>
            <key>textureFileName</key>
            <string>bot_second_pause@2x.png</string>
        </dict>
    </dict>
</plist>
