<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot_second_connexion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,204},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1210},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,908},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,810},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,810},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1814},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1512},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1210},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,908},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,608},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,608},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1512},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1210},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,608},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,908},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1814},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1512},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1210},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,608},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,908},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,606},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,406},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,406},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,406},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,406},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,204},{184,268}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{184,268}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,304},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,204},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,204},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,204},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,204},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1814},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1512},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1210},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,908},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,606},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,304},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,2},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1814},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
            <key>bot_second_connexion_loop_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,300}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{200,300}}</string>
                <key>sourceSize</key>
                <string>{200,426}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot_second_connexion@2x.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8ae1918e259711f0858ccc4baf9ef49$</string>
            <key>textureFileName</key>
            <string>bot_second_connexion@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
