<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plante_seventh_debut_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,239},{39,42}}</string>
                <key>offset</key>
                <string>{-11,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,58},{39,42}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,225},{39,52}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,48},{39,52}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{41,60}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,40},{41,60}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,225},{49,68}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,32},{49,68}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{57,76}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,24},{57,76}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,158},{65,82}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{65,82}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,61},{75,88}}</string>
                <key>offset</key>
                <string>{-29,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{75,88}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,150},{87,92}}</string>
                <key>offset</key>
                <string>{-35,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{87,92}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{85,90}}</string>
                <key>offset</key>
                <string>{-33,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{85,90}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,160},{91,88}}</string>
                <key>offset</key>
                <string>{-30,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{91,88}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,151},{97,82}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{97,82}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,86},{103,72}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{103,72}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,74}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{109,74}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{107,72}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{107,72}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{105,72}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{105,72}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,76},{103,72}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{103,72}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{103,82}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{103,82}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,76},{103,80}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{103,80}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
            <key>plante_seventh_debut_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{103,78}}</string>
                <key>offset</key>
                <string>{-23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{103,78}}</string>
                <key>sourceSize</key>
                <string>{175,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plante_seventh_debut.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:407fbeac8e509d7e42a1a8ca05b193bc$</string>
            <key>textureFileName</key>
            <string>plante_seventh_debut.pvr.ccz</string>
        </dict>
    </dict>
</plist>
