<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obstacle_third_explosion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{350,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{350,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{350,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{350,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{350,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,2},{350,236}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,4},{350,236}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,244},{350,228}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{350,228}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{350,228}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{350,228}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,244},{350,228}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{350,228}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,244},{350,216}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{350,216}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,244},{350,198}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,42},{350,198}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,354},{350,184}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,56},{350,184}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,444},{350,176}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{350,176}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,462},{350,170}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,70},{350,170}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,642},{350,166}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,74},{350,166}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{350,166}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,74},{350,166}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,642},{350,166}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,74},{350,166}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,790},{350,166}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,74},{350,166}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,634},{350,166}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,74},{350,166}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,474},{350,166}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,74},{350,166}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{350,166}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,74},{350,166}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,474},{350,166}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,74},{350,166}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,706},{350,166}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,74},{350,166}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,622},{350,166}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,74},{350,166}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1058},{348,160}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,73},{348,160}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,802},{350,164}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,73},{350,164}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1760},{332,160}}</string>
                <key>offset</key>
                <string>{9,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,75},{332,160}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1408},{330,158}}</string>
                <key>offset</key>
                <string>{12,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,78},{330,158}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1408},{332,150}}</string>
                <key>offset</key>
                <string>{10,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,90},{332,150}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1748},{298,150}}</string>
                <key>offset</key>
                <string>{-6,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,90},{298,150}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1742},{302,150}}</string>
                <key>offset</key>
                <string>{-6,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,90},{302,150}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,968},{312,150}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,90},{312,150}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1408},{338,150}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,90},{338,150}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1408},{340,150}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,90},{340,150}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,150}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,90},{358,150}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1408},{350,150}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,90},{350,150}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,958},{350,150}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,90},{350,150}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,968},{326,150}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,90},{326,150}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
            <key>obstacle_third_explosion_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{342,150}}</string>
                <key>offset</key>
                <string>{-10,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,90},{342,150}}</string>
                <key>sourceSize</key>
                <string>{440,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obstacle_third_explosion@2x.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8974d59e2d0672ca85ef273631512b32$</string>
            <key>textureFileName</key>
            <string>obstacle_third_explosion@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
