<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_first_debut_face_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{44,61}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_face_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,353},{44,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_face_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,292},{44,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_face_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,350},{44,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_face_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,324},{44,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_face_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,324},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_face_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,409},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_face_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,350},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_face_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,291},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_face_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,278},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,278},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_face_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,278},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,232},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_face_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,231},{44,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_face_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,232},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_face_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,232},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_face_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,232},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_face_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,454},{44,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{44,55}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_face_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,48},{44,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{44,55}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_face_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,409},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_face_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,170},{44,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_face_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,109},{44,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_face_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,48},{44,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_face_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{44,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,232},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,350},{44,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,291},{44,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,232},{44,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{44,59}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{44,59}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{44,59}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{44,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{44,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,186},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,186},{44,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,186},{44,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,186},{44,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{44,59}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{44,59}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{44,59}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{44,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{44,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_face_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,231},{44,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_pause_face_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{44,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{44,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,426},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,366},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,306},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,246},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,186},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,140},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,140},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,140},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,140},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,140},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,440},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,380},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,320},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,260},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,200},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,140},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,94},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,94},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,94},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,94},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,94},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,94},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,394},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,334},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,274},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,214},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,154},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,48},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,48},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,48},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,48},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,48},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,48},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_face_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,414},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_face.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:265aff234ad012d5e5810c33bf6ce319$</string>
            <key>textureFileName</key>
            <string>hero_first_face.png</string>
        </dict>
    </dict>
</plist>
