<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_first_debut_droite_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{44,61}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_droite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,48},{44,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_droite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,48},{44,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_droite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,351},{44,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_droite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,338},{44,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_droite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,324},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_droite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,324},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_droite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,410},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_droite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,351},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_droite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,292},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_droite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,278},{44,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_debut_droite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,278},{44,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_droite_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,370},{42,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{42,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_droite_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,410},{42,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{42,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_droite_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,278},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_droite_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,454},{44,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{44,55}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_droite_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,108},{44,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{44,55}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_droite_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,410},{44,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_droite_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,414},{44,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_droite_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,353},{44,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_droite_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,292},{44,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_fin_droite_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,231},{44,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,292},{42,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{42,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,351},{44,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,170},{44,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,109},{44,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,48},{44,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{44,59}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{44,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{44,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{44,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{44,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,292},{44,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{44,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{44,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{44,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{44,59}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{44,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{44,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{44,59}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,246},{44,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_milieu_droite_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,232},{44,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,57}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>hero_first_pause_droite_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{44,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{44,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,232},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,232},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,232},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,426},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,366},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,306},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,246},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,200},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,186},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,186},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,186},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,186},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,186},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,154},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,140},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,140},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,140},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,140},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,140},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,394},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,334},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,274},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,214},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,154},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,94},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,94},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,94},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,94},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,94},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,48},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,48},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,48},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,48},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hero_first_pause_droite_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,48},{44,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_first_droite.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2dd817a6f7d4dc0c26da3cb35323273$</string>
            <key>textureFileName</key>
            <string>hero_first_droite.png</string>
        </dict>
    </dict>
</plist>
